<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Recuperação de senha</title>
  <link rel="stylesheet" href="recuperacaosenha.component.css">
  <!-- Substitua pelo caminho do seu arquivo de estilos CSS -->
</head>

<body>

  <div class="container_form">

    <img class="LogoGesting" src="assets/logochurchflow.png">

    <h3 class="titleForgot">Preencha com seu email</h3>

    <form class="form">


      <div class="form_group">
        <label for="e-mail" class="form_label">Email</label>
        <input type="email"  [(ngModel)] = "this.recuperacaodto.login" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
      </div>

      <div class="submit">

        <button type="button" (click)="onRecuperacao()" name="Submit" class="submit_btn responsive">Prosseguir</button>
        <a href="/" class="submit_btn responsive">Retornar</a>
      </div>
    </form>

    <div class="menseagemRetorno" *ngIf="retornoCadastro"
      [ngClass]="{'retorno-sucesso': retornoCadastro === 'success', 'retorno-erro': retornoCadastro !== 'success'}" id="">
      {{ mensagemRetorno }}
    </div>

  </div><!-- container_form -->

</body>

</html>
